<!DOCTYPE html>
<html>
<head>
	<title>首页demo</title>
</head>
<body>
	<div>
		excel文件<input type="file" id="input-xlsx-file-upload">
		txt文件<input type="file" id="input-txt-file-upload">
		<a href="/download/2019_10_23_19_31_57.xlsx">下载xlsx文件</a>
	</div>
	<div>
		<button type="button" onclick="uploadXlsxFile()" >提交</button>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../view/web/index.js"></script>
</body>
</html>